// Descriptive Variables

// Fonts

$font1 : 'Fira Sans Condensed', sans-serif;
$font2 : Verdana, sans-serif;

// Colors

$f-color1 : black;
$f-color2 : whitesmoke;

$background-color1 : #232526;
$background-color2 : whitesmoke;